@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Graduate&family=Noto+Sans:wght@400;700&family=Orbitron&display=swap');
/* purgecss start ignore */
@tailwind base;

body {
  @apply bg-prussian;
}

p {
  @apply font-body;
}

h1 {
  @apply font-logo;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a8dadc;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}

@tailwind components;

.input-form {
  @apply w-full block border-2 border-celadon text-prussian p-1 mb-4 rounded-lg;
}

.input-form-label {
  @apply font-title text-prussian mb-2 text-lg;
}

.form-button {
  @apply text-lg text-prussian border-2 border-celadon mx-auto font-title bg-powder rounded-lg w-button py-2 block;
}

button:disabled {
  opacity: 0.5;
}

tr:nth-child(odd) {
  @apply bg-powderLight;
}

tr:nth-child(even):hover {
  @apply bg-honeydewDark;
}

tr:nth-child(odd):hover {
  @apply bg-powder;
}

/* .Toastify__toast,
.Toastify__toast--default {
  padding: 8px 20px !important;
  border-radius: 10px !important;
  background: white !important;
  border: 1px solid #ff926b !important;
}
.Toastify__toast-body {
  color: #1d3557 !important;
}
.Toastify__progress-bar,
.Toastify__progress-bar--animated,
.Toastify__progress-bar--default {
  background: linear-gradient(to right, #1d3557, #457b9d, #a8dadc) !important;
} */

.live-tournament-flash {
  background: linear-gradient(270deg, #e63946, #b44153);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tournament-list-item {
  flex: 1 0 21%;
  margin: 5px;
  min-height: 100px;
}

.select-button {
  width: 180px;
  height: 180px;
  animation-duration: 3s;
}

.select-button-icon {
  width: 150px;
  height: 150px;
}

.random-team {
  min-height: 100px;
}

.rotated-bracket {
  transform: rotate(180deg) scaleX(-1);
}

.group-title {
  transform: rotate(-90deg);
  height: auto;
  align-self: center;
}

/* purgecss end ignore */
@tailwind utilities;
